@npmuser:registry=http://3.128.255.192:8081/repository/npm-private
email=jane@example.com
//3.128.255.192:8081/repository/npm-private/:always-auth=true
//3.128.255.192:8081/repository/npm-private/:_auth=bnBtdXNlcjphZG1pbjEyMwo=


